<h2>Put Your Options Here</h2>
<form method="POST" action="/results">
<input type="text" name="option1" value="Option 1">
<br>
<input type="text" name="option2" value="Option 2">
<br> 
<input type="text" name="option3" value="Option 3">
<br>
<input type="text" name="option4" value="Option 4">
<br>
<input type="text" name="option5" value="Option 5">
<br>
<input type="submit" value="Decide">
</form>